.content{
    display: block;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    background-color: #ddd;
    border-radius: 12px;
    margin: auto;
    padding: 12px;
    margin-top: 40px;
    box-shadow: 6px 8px 3px 3px rgba(0, 0, 0, 0.2);
}

.content li{
    
    list-style-type: none;
    font-size: 24px;
    font-weight: 500;
    padding: 6px;

}

.content h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 800;
}

.content span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}